body {
  background: linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(https://i.pinimg.com/originals/78/69/45/7869459a488917aef60594876a7ef13b.png) no-repeat center/cover;
}

.content {
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.left {
  transform: translateX(34%);
  transition: all 0.8s linear;
}

.trans {
  transform: translateX(0);
}

.player {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #2daaed;
  border-radius: 15px;
  padding: 0 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.song-status {
  width: fit-content;
  margin: 10px auto 0;
  font-size: 1.5rem;
  color: white
}

.song-name {
  margin: 5px 0 10px;
  color: white;
}

.song-name h2,
.song-name h3 {
  width: fit-content;
  margin: 5px auto;
}

.song-thumb {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}

.song-thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 50%;
  border: 5px solid red;
}

/* .rotate {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-bar {
  width: 100%;
  margin: 0 auto 10px;
} */

.progress-bar input#progress-bar {
  /* -webkit-appearance: none;  Override default CSS styles */
  cursor: pointer;
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  border-radius: 100rem;
  background: linear-gradient(to left, green, red); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
  /* -webkit-transition: .2s; 0.2 seconds transition on hover */
  transition: opacity .5s;
}

.progress-bar input#progress-bar:hover {
  opacity: 1;
}

.progress-bar input#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.controller {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-top: 50px;
}

.controller .control-btn {
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

/* .controller .pause {
  font-size: 3rem;
  display: none;
} */

.controller .play {
  font-size: 3rem;
}

.controller .back:active,
.controller .back-seek:active,
.controller .next-seek:active,
.controller .next:active {
  color: red;
}

.controller #volume-bar[type="range"] {
  /* writing-mode: bt-lr;
  -webkit-appearance: slider-vertical; */
  cursor: pointer;
  appearance: none;
  /* width: 100%; */
  height: 6px;
  border-radius: 100rem;
  background: linear-gradient(to left, blue, yellow);
  outline: none;
  opacity: 0.6;
  transition: opacity .5s;
}

.controller #volume-bar[type="range"]:hover {
  opacity: 1;
}

.controller #volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.output {
  color: red;
}

.active-config {
  color: red;
  background-color: transparent;
}

.playlist {
  width: 500px;
  height: 200px;
  /* background-color: white; */
  margin: 10px 0;
  overflow-y: scroll;
  border-radius: 15px;
}

.playlist::-webkit-scrollbar {
  width: 0px;
  /* border-radius: 15px; */
}

.playlist::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

.playlist::-webkit-scrollbar-thumb {
  background: radial-gradient(pink, violet);
  border-radius: 15px;
}

.song-file {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: white;
  /* justify-content: space-between; */
  align-items: center;
  padding: 12px 0;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .25s;
}

.song-file:hover {
  opacity: 0.8;
}

.playing {
  background-color: violet;
}

.song-thumb-mini {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.song-thumb-mini img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 50%;
  /* border: 5px solid red; */
}

.song-desc-mini {
  margin-left: 20px;
  flex: 3;
}

.song-desc-mini h3 {
  font-size: 1.8rem;
}

.song-desc-mini h4 {
  font-size: 1.2rem;
}

.song-option {
  /* justify-self: flex-end; */
  margin: 0 20px;
  font-size: 1.5rem;
  background-color: #ccc;
  padding: 10px;
  border-radius: 100rem;
  color: #333;
}

.right {
  width: 0;
  height: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  font-size: 2rem;
  color: greenyellow;
  padding: 20px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear,
  width 0.75s linear,height 0.75s 0.5s linear;
}

.right span {
  display: block;
  color: springgreen;
  text-align: center;
  padding-bottom: 5px;
  font-size: 2.5rem;
}

#lyric {
  overflow-y: scroll;
  display: block;
  padding-bottom: 25px;
  height: 100%;
  width: 100%;
  text-align: justify;
}

#lyric::-webkit-scrollbar {
  width: 0px;
  /* border-radius: 15px; */
}

#lyric::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

#lyric::-webkit-scrollbar-thumb {
  background: radial-gradient(pink, violet);
  border-radius: 15px;
}

.wrapper {
  position: absolute;
  width: 300px;
  margin-top: 25px;
  margin-left: 25px;
  top: 0;
  left: 0;
}

.form {
  width: fit-content;
  height: fit-content;
  padding: 0 20px;
}

.input {
  width: 100%;
  border: 0px;
  background: transparent;
  border-bottom: 3px solid #62d474;
  outline: none;
  padding: 10px;
  /* background-color: gray; */
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease;
  transform: scale(0);
}

#search {
  /* transform: translateX(50%); */
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 30px;
  left: 60px;
  opacity: 0;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

#search.active-search {
  opacity: 1;
}

.input.active-search {
  transform: scale(1);
}

#search.focus-search {
  top:0;
}

.search-result {
  /* border-radius: 15px; */
  overflow-y: scroll;
  height: 300px;
  margin-top: 5px;
  opacity: 0;
  transition: all 2s;
}

.song-info {
  cursor: pointer;
  position: relative;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0,0,0,0.1);
  padding: 10px 5px;
}

.song-info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 100%;
  background-color: rgba(255, 0, 255, 0.8);
  transition: all .9s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  z-index: -1;
}

.song-info:hover::after{
  width: 100%;
  left: 0;
  right: 0;
}

.search-result::-webkit-scrollbar {
  width: 0px;
  /* border-radius: 15px; */
}

.search-result::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

.search-result::-webkit-scrollbar-thumb {
  background: radial-gradient(pink, violet);
  border-radius: 15px;
}